<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/laylout.css">
  <link rel="stylesheet" href="/css/friends.css">
  <title>Document</title>
</head>
<body>
  <div class="root flex-row">
    <div class="side-bar flex-col">
      <div class="section-button selected">
        <img src="/img/icon-profile.png">
      </div>
      <div class="section-button">
        <img src="/img/icon-chat.png">
      </div>
      <div class="section-button">
        <img src="/img/icon-more.png">
      </div>
    </div>
    <div class="content">
      <div class="header flex-row">
        <div class="title">친구</div>
        <div class="button-wrap">
          <div class="button">
            <img src="/img/add-friend.png" alt="">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="profile me">
          <div class="profile-header">
            <div class="profile-icon"></div>
          </div>
          <div class="profile-data">
            <div class="profile-name">홍길동</div>
          </div>
        </div>
        <div class="br"></div>
      </div>
      <div class="profile">
        <div class="profile-header">
          <div class="profile-icon"></div>
        </div>
        <div class="profile-data">
          <div class="profile-name">홍길동</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>