<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/laylout.css">
  <link rel="stylesheet" href="/css/room-list.css">
  <title>Document</title>
</head>

<body>
  <div class="root flex-row">
    <div class="side-bar flex-col">
      <a href="/chat/friends">
        <div class="section-button">
          <img src="/img/icon-profile.png">
        </div>
      </a>
      <a href="/chat">
        <div class="section-button selected">
          <img src="/img/icon-chat.png">
        </div>
      </a>
      <a href="/chat/etc">
        <div class="section-button">
          <img src="/img/icon-more.png">
        </div>
      </a>
    </div>
    <div class="content">
      <div class="room-wrap flex-col">
        <% rooms.forEach((room)=>{ %>
          <div class="room" tabindex="0">
            <div class="room-header">
              <a href="/chat/room/<%= room.id %>">
                <div class="room-icon">
                  <img src="" alt="">
                </div>
              </a>
            </div>
            <div class="room-content">
              <div class="room-title-wrap">
                <div class="room-title">
                  <%= room.name %>
                </div>
                <div class="room-personnel">
                  <%= room.members.length %>
                </div>
              </div>
              <div class="room-last-chat">
                <% if (room.messages.length> 0) { %>
                  <%= room.getLastMessage().content %>
                <% } %>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
</body>

</html>