@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FEE500;
}

/* Quick Class */
.root {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction:row;
}